$size__site-main: 100%;
$size__site-sidebar: 25%;

$susy: (
    /* Tells Susy to use 12 columns */
    columns: 12,
    /* Tells Susy that the container has a max-width of 1120px */
    container: 1400px,
    /* Tells Susy to use border-box */
    global-box-sizing: border-box
);

.row {
    @include container;
    padding: 30px 15px; 

}
